<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Queena Grot</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="/assets/css/resets.css">
    <link rel="stylesheet" href="/assets/css/grid.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    {% include slider_styles.html %}
  </head>

<body class="{{ page.class }}">
  
  <header class="nav-down">
    <a id="info_btn" onclick="openinfo()"></a>
  </header>

  <section id="logo">
    <img src="/assets/images/qg_white.png" alt="Queena Grot"/>
  </section> 

  <aside id="popup">
    <a id="info_btn" onclick="closeinfo()"></a>
    <p>Queena Grot makes one-of-a-kind lamps. It is a labour of love. It is functional art. It is the light and ceramics practice of Pamela Rosel, a bi-cultural Filipino/Australian artist, living and working outta Meanjin, Brisbane Australia. If you're in the market for a hyperpersonal lamp, what's available is on this site. For enquiries, get in touch via email or instagram.
    </p>
  </aside>

  <!-- <div id="foliobg" class="bgnormal"></div> -->
  <div id="foliofg" class="fgnormal"></div>

  <!-- <div id="spinner">
  <ul>
    <li>heavy</li>
    <li>hands</li>
    <li>make</li>
    <li>way</li>
    <li>for</li>
    <li>grot</li>
    <li>esque</li>
    <li></li>
    <li> </li>
    <li> </li>
    <li> </li>
    <li> </li>
  </ul>
  </div> -->

