<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Queena Grot</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="/assets/css/resets.css">
    <link rel="stylesheet" href="/assets/css/grid.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    {% include slider_styles.html %}
  </head>

<body class="{{ page.class }}">
  
  <header class="nav-down">
    <a id="info_btn" onclick="openinfo()"></a>
  </header>

  <section id="logo">
    <img src="/assets/images/qg_white.png" alt="Queena Grot"/>
  </section> 

  <aside id="popup">
    <a id="info_btn" onclick="closeinfo()"></a>
    <p>Queena Grot makes one-of-a-kind lamps. It is a labour of love by Pamela Rosel, a bi-cultural Filipino Australian interdisciplinary artist/designer who lives and works in Meanjin, Australia. For any enquiries, please get in touch via email (<a href="mailto:>queenagrot@gmail.com">queenagrot@gmail.com</a>) or instagram (<a href="https://www.instagram.com/queena_grot/" target="_blank"></a>@queenagrot). 
    </p>
  </aside>

  <div id="foliofg" class="fgnormal"></div>

  <!-- <div id="spinner">
  <ul>
    <li>heavy</li>
    <li>hands</li>
    <li>make</li>
    <li>way</li>
    <li>for</li>
    <li>grot</li>
    <li>esque</li>
    <li></li>
    <li> </li>
    <li> </li>
    <li> </li>
    <li> </li>
  </ul>
  </div> -->

