@import "main.scss";

$gridMargin: 0 6.25%;
$gridMarDbl: 13%;

[class*='col-'] {
  float: left;
  padding-bottom: 300px;
}

[class*='col-'] img{
  width: 100%;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

.col-3-4 {
  width: 75%;
}

.col-3-8 {
  width: 37.5%;
}

.col-5-8 {
  width: 62.5%;
}

.col-7-8 {
  width: 87.5%;
}

.grid {
  max-width: 1400px;
  margin: 0 auto;
}

.grid-mar {
  margin: $gridMargin;
}

.txt-centre {
  text-align: center;
  margin: $gridMargin;
  padding: $txtPadTop;
}

.txt-left {
  margin-right: $gridMarDbl;
  padding: $txtPadding;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.centre_align {
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
}

.vertical_align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.vertical_align_smlright {
  right: 0;
}

.vertical_align_holder {
  position: relative;
  width: 100%;
  float: left;
}

.float_right {
  float: right !important;
}

.float_left {
  float: left;
}

.clear {
  clear: both;
}

.mob_show {
  display: none;
}

@media (max-width: 600px) {

  .mob_hide {
    display: none;
  }

  .mob_show {
    display: block;
  }

  [class*='col-'] {
    width: 100%;
    margin: 0;
    position: relative;
    padding-bottom: 0;
  }

  h2 {
    text-align: center;
  }

  .txt-left, .txt-centre {
    text-align: justify;
    margin: $gridMargin;
    padding: $txtPadTop;
  }

  section {
    float: left;
    padding-bottom: 300px;
  }

}
