@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

//UNIVERSAL
$backgroundColor: #000000;
$bodyColor: #ffffff;
$bodyFont: 'Xanh Mono', monospace;
$flow: .4s;
// $bodyFont: 'Courier Prime', monospace;
$highlightFont: 'DM Mono', monospace;
$displayFont: 'Arial';
$fadeTransition: opacity ease-in-out 8s;
$highlightColor: crimson;

body {
  font-family: $bodyFont;
  font-size: 14px;
}

body.folio {
  transition: background-color ease-in-out .8s;
  background: $backgroundColor;
  color: $bodyColor;
}

#logo {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#logo img {
  width: 100%;
  height: 30%;
  position: fixed;
  z-index: -1;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background: radial-gradient(#e66465, #bf977a99);
  z-index: 70;
  flex-wrap: wrap;
  justify-content: flex-end;
}

aside h1, aside p {
  padding: 0 10px;
}

.blackbg {
  background-color: #000000;
}

//TYPOGRAPHY

h2 {
  display: none;
}

aside h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 5vw;
}

[class*='col-'] p {
  margin: .8em 0 2.8em 2px;
  z-index: 60;
  position: relative;
}

[class*='col-'] a {
  text-decoration: underline;
  color:$bodyColor;
  text-decoration-color: bisque;
  text-decoration-thickness: .5px;
  transition: $flow;
}

details {
  position: absolute;
  padding: 0.8em 8px .8em 8px;
  z-index: 60;
  transition: $flow;
}

details[open] {
  background-color: $bodyColor;
  color: $highlightColor;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 27px 10px 20px #ff0c0024;
  font-size: 20px;
  a {
    color: $highlightColor;
    text-decoration: underline;
    text-decoration-color: $highlightColor;
  }
  summary {
    font-family: $bodyFont;
    font-size: 14px;
  }
}

details[open] a:hover {
  color: blue;
}

a:hover {
  color: bisque;
}

summary:hover {
  cursor: pointer;
}

//INFO BTN

#info_btn {
  background-color: $bodyColor;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 20px;
  z-index: 50;
  transition: $flow;
}

#info_btn:hover {
  background-color: bisque;
  cursor: pointer;
  box-shadow: 5px 25px 30px 20px #534d2a8a;
}

//STICKY HEADER HIDE ON SCROLL

header {
  display: flex;
  justify-content: end;
  position: fixed;
  top: 0;
  transition: top 0.4s ease-in-out;
  width: 100%;
  z-index: 50;
}

body.about header {
background: none;
}

.nav-up {
  top: -80px;
}

.lift {
  z-index: 40;
  position: relative;
}

//YOUTUBE EMBED CONTAINER 

.video-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
}

.video-container iframe, .video-container object, .video-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

//INTERSECTION OBSERVER

.fadeup {
   opacity: 0;
   transition-property: opacity;
   transition-duration: .4s;
   transition-delay: .4s;
   transition-timing-function: linear;
 }

 .in-view {
     opacity: 1;
 }

 //BG COLOUR SCROLL

.bodynormal {
  background-color: $highlightColor;
  color: $bodyColor;
}

.bodyfooter {
  background-color: blue;
  color: $bodyColor;
  a {
    color: $bodyColor;
  }
}

.bgnormal {
  opacity: 0;
}

.bgfooter {
  opacity: 0;
}

#foliofg {
  position: fixed;
  pointer-events: none;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 50s;
}

.fgfooter {
  opacity: .8;
  box-shadow: inset 60px 0 120px #c4a160, inset -60px 0 120px #fff;
}

.fgnormal {
  opacity: 0;
}

// SPINNER

#spinner {
  font-family: arial;
  position: absolute;
  top: 60%;
  left: 50%;
  ul {
    margin: 0;
    list-style: none;
    font-size: 18px;
    transform-style: preserve-3d;
    animation: three-dimensions-circle 30s linear infinite;
  }
  li {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  @for $i from 1 through 12 {
    li:nth-child(#{$i}) {
      transform: translate(-50%, -50%) rotate(#{$i * 30 - 30}deg) translateY(-260px) rotateX(90deg);
    }
  }
  @keyframes three-dimensions-circle {
    0% {
      transform: rotateX(-100deg) rotate(0);
    }
    100% {
      transform: rotateX(-100deg) rotate(-360deg);
    }
  }
}


@media (max-width: 600px) {

  .fgfooter {
    opacity: .5;
    box-shadow: inset 14px 30px 60px #c4a160, inset 0px 30px 170px #fff;
  }

}
