//UNIVERSAL
$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: 'Courier Prime', monospace;
$highlightFont: 'DM Mono', monospace;
$txtPadding: 28px 20px;
$txtPadTop: 28px 0 28px 0;
//BTN
$stripe-height: 7px;
$btn-color: white;
$btn-background: none;
$btn-color-hover: black;
$btn-background-hover: white;
$border-color: white;
$border-color-hover: black;

body {
  font-family: $bodyFont;
  font-size: 12px;
}

body.folio {
  background: $backgroundColor;
  color: $bodyColor;
  margin-top: 50%;
}

body.about {
  color: $backgroundColor;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// START

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // border: red solid 1px;
}

.flex-item {
  // border: green solid 1px;
  flex-grow: 1;
  height: 100px;
}

// .double {
//   flex-basis: 36rem;
// }

.experience {
  flex-basis: 20%;
  // background-color: pink;
}

.stretchfont {
  /* font-stretch: extra-condensed; */
transform: scaleY(0.3);
/* letter-spacing: 2px; */
display: inline-block;
/* font-size: 19px; */
transform: scaleY(2.2);
/* transform-origin: 0 0; */
/* margin-bottom: -50%; */
font-family: Arial;
}

.ottoman {
  margin: 20px;
}


// end

#foliobg {
  position: fixed;
  pointer-events: none;
  z-index: 0;
  top: 0%;
  opacity: 1;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at top, transparent, transparent), radial-gradient(ellipse at bottom, LightSalmon, transparent);
}

#foliofg {
  position: fixed;
  pointer-events: none;
  z-index: 20;
  top: 0;
  opacity: .4;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow:
    inset 60px 0 120px #fff,
    inset -60px 0 120px #fff;
  -webkit-animation: shadowFade 20s;
  animation-iteration-count: infinite;
}

#spinner {
  font-family: arial;
  position: absolute;
  top: 30%;
  left: 50%;
  ul {
    margin: 0;
    list-style: none;
    font-size: 4vw;
    transform-style: preserve-3d;
    animation: three-dimensions-circle 30s linear infinite;
  }
  li {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  @for $i from 1 through 12 {
    li:nth-child(#{$i}) {
      transform: translate(-50%, -50%) rotate(#{$i * 30 - 30}deg) translateY(-260px) rotateX(90deg);
    }
  }
  @keyframes three-dimensions-circle {
    0% {
      transform: rotateX(-100deg) rotate(0);
    }
    100% {
      transform: rotateX(-100deg) rotate(-360deg);
    }
  }
}

//TYPOGRAPHY

p {
  // text-align: justify;
  line-height: 1.25em;
}

a {
  color: $bodyColor;
  text-decoration: underline;
}

body.about a {
  color: $backgroundColor;
}

h2 {
    font-family: $highlightFont;
    font-weight: 300;
    text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.meta {
  font-family: 'DM Mono', monospace;
  text-transform: uppercase;
  font-size: .72em;
  text-indent: 10px;
}

//NAVIGATION

nav {
  top: 0;
  right: 0;
  width: 25%;
  padding: $txtPadding;
  position: absolute;
  a {
    text-decoration: none;
    padding-right: 10px;
  }
  a:hover {
    text-decoration: underline;
  }
}

.folio .navfolio, .about .navabout {
  text-decoration: underline;
}

.intro li {
  width: 25%;
  padding: $txtPadding;
  display: inline-block;
}

h1 span::before{
  content: '';
  animation: profile 9s infinite;
  position: relative;
  display: block;
}

@keyframes profile {
  0% { content: 'Freelance Designer'; top:0; opacity: 1;}
  30% { content: 'Freelance Designer'; top:0; opacity: 1;}
  35% { content: 'Freelance Designer'; top:0; opacity: 0;}
  39% { content: 'Freelance Designer'; top:0; opacity: 0;}
  40% { content: 'Brisbane, Meanjin'; top:1em; opacity: 0;}
  50% { content: 'Brisbane, Meanjin'; top:0; opacity: 1;}
  80% { content: 'Brisbane, Meanjin'; top:0; opacity: 1;}
  85% { content: 'Brisbane, Meanjin'; top:0; opacity: 0;}
  90% { content: 'Freelance Designer'; top:1em; opacity: 0;}
  100% { content: 'Freelance Designer'; top:0; opacity: 1;}
}

//Sticky Header Hide on Scroll

header {
  background: transparent;
  height: 70px;
  position: fixed;
  top: 0;
  transition: top 0.4s ease-in-out;
  width: 100%;
  z-index: 115;
}

body.about header {
  background: none;
}

.nav-up {
    top: -80px;
}

//INTERSECTION OBSERVER

.fadeup {
   opacity: 0;
   transition-property: opacity;
   transition-duration: .4s;
   transition-delay: .4s;
   transition-timing-function: linear;
 }

 .in-view {
     opacity: 1;
 }

 //SLIDER

 .ideal-image-slider {
 z-index: 1;
 }

 #sliderjafflejunkies, #sliderinstantspecialty, #slidersoundsummit {
   img {
     position: relative;
     z-index: 1;
   }
 }

 //BLOB
 #blob {
   position: fixed;
   width: 696px;
   height: 694px;
   animation-name: scale-in-center;
   animation-duration: 12s;
 }

 @-webkit-keyframes scale-in-center {
   0% {
     -webkit-transform: scale(0);
             transform: scale(0);
     opacity: 0;
   }
   20% { opacity: 0; }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
     opacity: 1;
   }
 }
 @keyframes scale-in-center {
   0% {
     -webkit-transform: scale(0);
             transform: scale(0);
     opacity: 0;
   }
   20% { opacity: 0; }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
     opacity: 1;
   }
 }

 //EMOJIS

 .emoji {
   background: none;
   text-decoration: none;
   position: fixed;
   font-size: 22px;
   animation: fadeIn 0.3s ease-in;
 }

.emojiactive {
  background: none;
  text-decoration: none;
  position: fixed;
  font-size: 2vw;
  animation: fadeIn 0.3s ease-in;
  display: block;
}

 .fadeOut {
   animation: fadeOut 0.3s ease-in;
 }

 @keyframes fadeIn {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }

 @keyframes fadeOut {
   from {
     opacity: 1;
   }
   to {
     opacity: 0;
   }
 }

 // ANIMATED WORD CLOUD

 #all {
  margin: 160px auto;
  width: 100px;
  height: 100px;
  -webkit-animation: grow 4s;
  -webkit-animation-delay:0.5s;
  animation-fill-mode: forwards;
}

#div1 {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 450px;
  margin: -300px auto 0;
  span {
      position: absolute;
      top: 0px;
      left: 0px;
      font-family: $highlightFont;
      font-weight: 100;
      text-transform: uppercase;
      color: #FFF;
  }
}

.div2 {
display: none;
}

.script {
  font-family: 'Arial';
  color: #fff;
  font-size: 40px;
  display: block;
  position: relative;
  transform: scaleY(0.3);
  /* letter-spacing: 2px; */
  display: inline-block;
  /* font-size: 19px; */
  transform: scaleY(9.8);
  /* transform-origin: 0 0; */
  /* margin-bottom: -50%; */
  font-family: Arial;
}

.java {
  font-family: 'Arial';
  color: #fff;
  background-color: black;
  font-size: 40px;
  display: block;
  position: relative;
}

.java:before {
  content: "";
  display: block;
  position: absolute;
  left: 85px;
  width: 20px;
  height: 100%;
  background-color: red;
  -webkit-animation-delay: 2s ;
  -webkit-animation: grow 4s;
   -webkit-animation-delay:0.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes grow {
  from {
    width: 0px;
  }
  to {
    width: 480px;
  }
}

@mixin reset-button {
    overflow : visible;
    margin : 0;
    padding : 0;
    border : 0;
    background : transparent;
    line-height : normal;
    cursor : pointer;
    -moz-user-select : text;
    &:-moz-focus-inner {
        padding : 0;
        border : 0;
    }
}

@keyframes stripe-slide {
    0% { background-position: 0% 0; }
    100% { background-position: 100% 0; }
}

//BUTTONS

#btn_aboutme {
  position: absolute;
  left: 15px;
  bottom: 0px;
}

#btn_back {
  position: absolute;
  left: 15px;
  bottom: 0px;
}

#btn_email {
  position: absolute;
  right: 15px;
  bottom: 0;
}

.btn {
    @include reset-button;
    display: block;
    font-family: $highlightFont;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 36px 22px;
    background-color: $btn-background;
    color: $btn-color;
    border: 2px solid $border-color;
    border-radius: 6px;
    margin-bottom: 16px;
    transition: all .5s ease;
    z-index: 1000;

    &--stripe {
        overflow: hidden;
        position: relative;

        &:after {
            content: '';
            display: block;
            height: $stripe-height;
            width: 100%;
            background-image: repeating-linear-gradient(
                45deg,
                $border-color,
                $border-color 1px,
                transparent 2px,
                transparent 5px
            );
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-top: 1px solid $border-color;
            position: absolute;
            left: 0;
            bottom: 0;
            background-size: $stripe-height $stripe-height;
        }

        &:hover {
            background-color: $btn-background-hover;
            color: $btn-color-hover;
            border-color: $border-color-hover;

            &:after {
                background-image: repeating-linear-gradient(
                    45deg,
                    $btn-color-hover,
                    $btn-color-hover 2px,
                    transparent 2px,
                    transparent 5px
                );
                border-top: 1px solid $border-color-hover;
                animation: stripe-slide 12s infinite linear forwards;
            }
        }
    }
}

@media (max-width: 600px) {

    header {
      height: 85px;
    }

    nav {
      width: 50%;
      text-align: right;
      a {
        padding-right: 10px;
        display: inline-block;
      }
    }

    #blob {
    width: 300px;
    height: 300px;
    }

    #all {
      position: fixed;
    }

    #div1 {
      position: fixed;
    }

}
