{% include header.html %}

<div id="spinner">
<ul>
  <li>websites</li>
  <li>as</li>
  <li>if</li>
  <li>they</li>
  <li>were</li>
  <li>poems</li>
  <li>.</li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
</ul>
</div>

<!-- <div id="foliobg" class="bgnormal"></div> -->
<div id="foliofg" class="fgnormal"></div>

{{ content }}
  {% for post in site.posts %}
    {{ post.content }}
  {% endfor %}

<footer>
<section class="clear ">
<div class="centre_align flex-container">
  <h3 class="stretchfont">Wanna work together?</h3>
  <div class="btn_holder">
  <button class="btn btn--stripe btn_light flex-item" style="margin-right: 20px;" onclick="location.href='{{ site.url }}/icandesigniswear'"><a href="{{ site.url }}/icandesigniswear">Need more info</a></button>
  <button class="btn btn--stripe btn_light flex-item"><a href="{{ site.url }}/icandesigniswear">Email me</a></button>
  </div>
</div>
  </section>

  <!-- <p>Pamela Rosel © 2021</p> -->
</footer>

{% include footer.html %}
